{% extends 'base.html' %} {% block content %}

<h1>Players</h1>

<section class="d-flex justify-content-end">
  <a class="btn btn-success" href="{% url "players:create" %}">
    Add new player
  </a>
</section>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Team</th>
      <th>Position</th>
      <th>Shirt number</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <td>{{ player.first_name }}</td>
      <td>{{ player.last_name }}</td>
      <td>{{ player.age }}</td>
      <td>{{ player.player }}</td>
      <td>{{ player.position }}</td>
      <td>{{ player.shirt_number }}</td>
      <td>{{ player.country }}</td>
      <td>
        <a class="btn btn-primary" href="{% url 'players:detail' player.id %}">
          View detail
        </a>
        <a class="btn btn-warning" href="{% url 'players:edit' player.id %}">
          Edit
        </a>
        <a class="btn btn-danger" href="{% url 'players:delete' player.id %}">
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}